/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    min-height: 100vh;
}

/* Headings */
h1 {
    text-align: center;
    color: #000000;
}

/* Navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 1rem 0;
    position: fixed; 
    top: 0px; 
    width: 100%;
    z-index: 999;
}
.nav-left {
    padding-left: 20px;
    padding-top: 10px;
}
.nav-right {
    padding-right: 20px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.1rem;
}
nav a:hover {
    color : #ccc;
}

a {
    color: #007BFF;
    text-decoration: none;
}
a:hover {
    color:#0056b3;
}

/* Main content area */
main {
    max-width: 800px;
    width: 60%;
    margin: 10px auto 2rem;
    padding: 1rem;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* Post Cards */
.post {
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}
.post h2 {
    margin: 0 0 0.5rem;
}
.post p {
    margin: 0.5rem 0;
}

/* Footer styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* from here is login.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}
/* Container styling for forms */
.container {
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
    resize: none; /* Prevent manual horizontal resizing */
    overflow: hidden; /* Hide overflow while resizing */
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Buttons */
button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #0056b3;
}

/* Links inside the form (e.g., for signup links) */
.signup-link {
    text-align: center;
    margin-top: 15px;
}

.signup-link a {
    color: #007BFF;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.filter {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
}

.filter-group {
    padding: 10px;
}