{{template "head"}}
<body>
{{template "navBar"}}
    <main>
        {{if .Message}}
        <p style="color: green; font-weight: bold;">{{.Message}}</p>
        {{end}}
        <h2>Latest Posts</h2>
        
        {{range .Posts}}
        <div class="post">
            <h3>{{.Title}}</h3>
            <p>{{.Content}}</p>
            </div>
            {{else}}
            <p>No posts yet. Be the first to create one!</p>
            {{end}}
        <a href="/create-post">Create Post</a>

    </main>
    <footer>
        <p>&copy; 2025 Simple Forum. All rights reserved.</p>
    </footer>
</body>
</html>
