{{template "head"}}
<body>
{{template "navBar" .}}
    <main>
 <!-- button to toggle filter visibility -->
 <button id="filterButton" class="show-filter-button">show filters</button>
 <!-- Filter Form (hidden by default) -->
 <form class="filter" method="POST" action="/">
     <div style="display: none;"> <!-- make sure this is inside the form -->
            <!-- Topic Filter -->
            <div class="filter-group">
                <label for="topicFilter" class="filter-label">Filter by Topic:</label>
                <select id="topicFilter" name="topic" class="filter-select">
                    <option value="None">-</option>
                    {{ range $index, $category := .Categories }}
                    <option value="{{ $category.CategoryID }}">{{ $category.CategoryName }}</option>
                    {{ end }}
                </select>
            </div>
            {{if .LoggedIn}}
            <!-- Post Filter -->
            <div class="filter-group">
                <label for="postFilter" class="filter-label">Filter Posts:</label>
                <select id="postFilter" name="filter" class="filter-select">
                    <option value="None">-</option>
                    <option value="createdByMe">Created by Me</option>
                    <option value="likedByMe">Liked by Me</option>
                    <option value="dislikedByMe">Disliked by Me</option>
                </select>
            </div>
            {{end}}
                <button type="submit" class="filter-button">Apply Filters</button>
        </div>
        </form>
        <h2>Latest Posts</h2>

        {{range .Posts}}
        <div class="post">
            <h3><a href="/post/{{.PostID}}">{{.PostTitle}}</a></h3> 
            <p>Author: {{.Username}}</p>
            <p class="post-content">{{.PostContent}}</p>
            
            <p><strong>Comments:</strong> {{len .Comments}}</p>
        </div>
        {{else}}
        <p>No posts yet. Be the first to create one!</p>
        {{end}}
        
        <a href="/create-post">Create Post</a>
    </main>
{{template "footer"}}
</body>

<script>
    // Add the following JavaScript to toggle the filter form
    document.getElementById('filterButton').addEventListener('click', function() {
        var form = document.querySelector('.filter');
        if (form.classList.contains('show-filter')) {
            form.classList.remove('show-filter');
            this.textContent = 'show filters';
        } else {
            form.classList.add('show-filter');
            this.textContent = 'hide filters';
        }
    });
</script>
</html>
