{{template "head"}}
<body>
{{template "navBar" .}}
   
    <main>
        {{range .Posts}}
        <h2>{{.PostTitle}}</h2>

        <div class="post">
            <p>{{.PostContent}}</p>
            </div>
            {{ if eq (len .Comments) 0 }}
            <p>No comments yet. Be the first to create one!</p>
        {{ else }}
            <h3>Comments:</h3>
            {{ range $index, $comment := .Comments }} 
                <div class="comment">
                    <p>{{ $comment.Content }}</p>
                </div>
            {{ end }}
        {{ end }}
        
        {{ end }}
        {{if .LoggedIn }}
        {{range .Posts}}
        <form action="/post/{{.PostID}}" method="POST">
            <label for="comment"></label>
            <textarea id="comment" name="comment" placeholder="Enter comment here" required></textarea>
            <br>
            <button type="submit">Submit Comment</button>
        </form>
        {{else}}
        <p>You must be logged in to leave a comment.</p>
        {{end}}
        {{end}}

    </main>
{{template "footer"}}
</body>
<script>
    const textarea = document.getElementById("comment");

textarea.addEventListener("input", function () {
    this.style.height = "auto"; // Reset height to auto so it calculates properly
    this.style.height = this.scrollHeight + "px"; // Set height to scrollHeight
});
</script>
</html>
