{{template "head"}}
<body>
   {{template "navBar" .}}
   <div class="wrapper">
    <div class="container">
        <h1>Sign Up</h1>
        <div class="icon">
            ℹ️
            <span class="tooltip">username must be 3-20 characters, letters, numbers, or _ </span>
        </div>
        <form action="/signup" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
            
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Enter your email" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>

            <button type="submit">Sign Up</button>
        </form>
        <br>
        {{if .ValidationError}}
            <div class="error">
                {{.ValidationError}}
            </div>
        {{end}}
        <div class="signup-link">
            Already have an account? <a href="/login">Login here</a>
        </div>
    </div>
    </div>
</body>
{{template "footer"}}
</html>
